{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div id="content">  <div class="breadcrumb">
        <a href="/">Главная</a>
         &raquo; <a href="#">Связаться с нами</a>
      </div>
  <h1>Связаться с нами</h1>

       <div class="contact-info">
	   <p>
	Мы осуществляем продажу дипломных проектов по всей России и странам СНГ, поэтому возможности лично встретиться с каждым клиентом фактически нет. Соответственно основная работа магазина st-diplom происходит в режиме Онлайн. Оплата принимается на карту сбербанка и электронные кошельки, а проекты высылаем на вашу электронную почту.</p>
<p>
	Личная встреча возможна с нашими партнерами в городах, указанных ниже.</p>
<p>
	<span style="font-size:18px;"><strong>Внимание!!! Консультацию по всем интересующим вопросам вы можете получить ТОЛЬКО по:</strong></span></p>
<p>
	<strong>Тел</strong>: 89040604952 (Андрей)<br />
	<strong>Skype</strong>: st-diplom<br />
	<strong>E-mail</strong>: st-diplom@mail.ru</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	<br />
	<strong>Адрес</strong>: г. Нижний Новгород, Комсомольское шоссе 3, к19</p>
<p>
	<strong>Схема проезда:</strong>: <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A603ef33fd74691adeca5da1eba3e74e1a1f2805257c79e7343f440495fa3c3f4&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script></p>
<p>
	&nbsp;</p>
<p>
	По указанным ниже адресам возможно ТОЛЬКО получить и оплатить проект на месте!</p>
<h2>
	<strong style="font-size: 12px;">Адрес</strong><span style="font-size: 12px;">: <strong>г. Москва Богородский район. Ул. Краснобогатырская дом 9 (метро преображенская площадь)</strong></span></h2>
<p>
	<strong>Тел</strong>: 89080439861</p>
<p>
	<strong>Схема проезда:</strong>:</p>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A397b49367bd82f122a28465e2a472f8611edbc5683cc8069e0c9d220359dce0b&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<p>
	&nbsp;</p>
<p>
	<strong>Адрес</strong>: Г. Екатеринбург , ул. Краснолесья , 16/2</p>
<p>
	<strong>Тел</strong>: 89022594313 (Евгений)</p>
<p>
	<strong>Схема проезда:</strong>:</p>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5c1943132fa4d4568f3d51aec8ac219c7e171953ce55d920dfbbf5dfa32791de&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<p>
	&nbsp;</p>
<p>
	<strong>Адрес</strong>: г. Челябинск ул. Южная д. 2А</p>
<p>
	<strong>Тел</strong>: 89080682414 (Сергей)</p>
<p>
	<strong>Схема проезда:</strong>:</p>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac1ab8577ad4cceb1aab20994a964a851d77b0d6297c689947bff8b922cfb89e5&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<p>
	&nbsp;</p>
<p>
	<strong>Адрес</strong>: г. Златоуст, Северо-Запад 1 кв. 3 дом.</p>
<p>
	<strong>Тел</strong>: 89517874783 (Евгений)</p>
<p>
	<strong>Схема проезда:</strong>:</p>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24d195fc2808917252b3a5f810509e7793d2b5f215a5be0ba951e2cd40b925ac&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
		</div>
		<div style="display: none;">
      <div class="content"><div class="left"><b>Адрес:</b><br />

        Готовые дипломные работы по строительству!<br />
        Адрес<br /><br />
		<b>E-mail:</b>st-diplom@mail.ru</br>
		<b>ICQ:</b>89564862482
		</div>
      <div class="right">
                <b>Телефон:</b><br />
        89040604952<br />
		89823107308
        <br />
                      </div>
    </div>
    </div>
    <h2>Написать нам</h2>
      <form action="#">

    <b>Ваше имя:</b><br />
    <input type="text" name="name" value="" />
    <br />
        <br />
    <b>Ваш E-Mail:</b><br />
    <input type="text" name="email" value="" />
    <br />
        <br />
    <b>Ваш вопрос:</b><br />
    <textarea name="message" cols="40" rows="10" style="width: 99%;"></textarea>
    <br />
        <br />

        <button type="submit" >Отправить</button>

      </form>


  </div>

{% endblock %}