{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div id="content">
        <div class="top">
            <div class="left"></div>
            <div class="right"></div>
            <div class="center">
                <h1>Отзывы покупателей</h1>
            </div>
        </div>
        <div class="middle">


            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b>Диплом хороший</b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        <p>
                            Без обмана 100%!!! Выслали всё в полном объеме, проект, графика, ПЗ очень содержательные . Работы прошли проверку на плагин. Реком ендовал обратиться к Вам и своих сокурсников!</p>
                    </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-5.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Сергей Александрович Сегриев-Посад</i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b>отзыв о работе магазина</b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        <p>
                            Занятие конечно пугающее, покупка проекта. Но ничего,-все сраслось. Конечно благодарю. Кто опасается, ну покупайте по частям. Это же удобно. Да и не так страшно за сумму. А к продавцам просьба,- вы до оплаты объявляйте время задержки отправки файла, а то оно такое томительное,пу гающее.Но известно, кто не рискует,-тот.. .....! Удачи всем, и покупателям и продавцам. Еще раз благодарю. Вл адимир. г.Пенза.</p>
                    </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-5.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Владимир Пенза</i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        <p>
                            огромное спасибо!была приятно удивлена.проек т выслали сразу же после оплаты.все чертежи,записк а,всё в порядке,даже не ожидала.всем советую!</p>
                    </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-5.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Тати </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b>Качественно, быстро и не дорого!</b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        <p>
                            Получила проект очень быстро, спасибо что не обманули. Довольна, порекомендую вас своим знакомым)</p>
                    </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-5.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Татьяна Братск</i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        <p>
                            Заказала проект жилого дома в г.Кемерово, когда выслали оригинал, даже удивилась) Не ожидала что можно купить вот так просто хороший полный и качественный проект. Очень благодарна!</p>
                    </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Ксения Арсеньева </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Решил обменяться проектами, действительно, все прошло по плану, не обманули. Обменом доволен, рекомендую всем!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Владимир </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо!Спасибо! Спасибо!!!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Антоха </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Респект за порядочность и качество! Спасибо!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Георгий Иванов </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Порядочная команда, приемлемые цены, качественная работа - вы лучшие! С вами приятно иметь дело!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Нина </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Самый лучший сайт по дипломам!! У меня подруга защищалась как-то, пару лет назад, хотела купить диплом, но не могла найти хорошего сайта, а мне вот повезло, что нашла вас!) Спасибо огромное за помощь!!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Елена </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо и удачи в дальнейшем продвижении сайта!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Вероника </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Я сначала немного с недоверием отнеслась, а вдруг не вышлют диплом, или не весь, или там будет фигня полная. Перевела деньги, и в итоге получила хороший проект, защитилась на отлично! Спасибо огромное вам!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Евгения </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо за помощь, за диплом! Облегчение такое от того, что защитился!)            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Марат </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо вам, очень мне помогли! Проект оказался полным и качественным!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Валентина </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Благодарю, благодарю, благодарю!) вы мне очень помогли, готовилась к защите, изучила весь скачанный проект, ошибок там не было, небольшие корректировки под мой ВУЗ и все)Очень довольна работой и обслуживанием)             </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Софочка </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Одним дипломированым спецом больше)спасибо сайту!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Маккс </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо, защитилась на четыре!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Анжелика </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Видно, что работают профессионалы в своем деле. Спасибо, что помогли, удачи вам в дальнейшей деятельности.            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Алексей </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Мы купили проекты на этом сайте, немного с ними побегали, и защитились обе на пять!!! Очень довольны, спасибо вам за такое четкое исполнение своих обязанностей! Будем вас советовать всем-всем-всем!!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Юляша и Эльвира </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Не пожалел, что обратился к вам! И волки целы, и овцы сыты)))            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Антон </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>

        </div>
        <div class="middle">


            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        На вашем сайте собраны очень хорошие проекты! Я сравнивал, выбирал, у вас нашел много подходящих по качеству и тематике. Спасибо за добросовестное обслуживание, без задержек и обмана!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Михаил </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Благодаря это сайту я защитилась на четыре, хотя мало что знала и думала вообще что не защитюсь. Спасибо вам!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Olen'ka </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо!! Посоветую друзьям!!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Катрин </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо большое! Рекомендую всем!!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Аристотель </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо вам большое! Благодаря вам я теперь дипломированный специалист!) Очень рад сотрудничеству и качественной помощи!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Егор </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо за помощь, всем советую это сайт.            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Сергей </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Я рада что обратилась к вам! Все прошло хорошо, подписали почти сразу и защитила на отлично! Спасибо вам большое!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Машель </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасиба, защитил на пять!!! Классный сайт, рекоминдую!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Жентоззз </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Сэнкью за проект! все подписали вовремя, защитил на четыре. Удачи вам!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Димон </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Здравствуйте! Спасибо за диплом. Немного пришлось доработать, но в целом очень хорошая работа! И качественое обслуживание            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Коршунова Лера </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Мне понравилось обслуживание, молодцы ребята, заботятся о клиентах, помогают, отвечают на вопросы. Я была немного взволнованна перед защитой, боялась, в мыслях был бардак. Они меня поддержали, посоветовали, помогли с дипломом, в итоге защитила на пять! Спасибо вам и успехов в дальнейшей работе!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Светик </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Просто от души! Сайт ваще норм, закзал проект, выслали очень быстро. защитил на четверу! Респект!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Колян </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Всем доволен, и работой и сайтом, спасибо, очень помогли.            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Руслан </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Пасибочки! Защитилась на отлично, сама в шоке!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Дашуля </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Купил у вас проект, торговый центр. Все супер, даже исправлял мало. Защитил на 4. Спасибо огромное!            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Ярослав </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>
            <table class="content" width="100%" border="0">
                <tbody><tr>
                    <td valign="top" style="text-align:left;" colspan="2"><b></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        Спасибо за диплом! И за хорошее обслуживание!)            </td>
                </tr>

                <tr>
                    <td style="font-size: 0.9em; text-align: right;">
                        Рейтинг:<br>
                        <img src="{% static 'theme/default/image/testimonials/stars-3.png' %}" style="margin-top: 2px;">
                        <br>
                        -&nbsp;<i>Александр </i> <!--.' '.$testimonial['date_added']; - дата отзыва --->
                    </td>

                </tr>

                </tbody></table>


        </div>
        <h2>Оставьте свой отзыв</h2>
        <form action="#">

            <b>Ваше имя:</b><br />
            <input type="text" required name="name" value="" />
            <br /><br />
            <b>Ваш E-Mail:</b><br />
            <input type="text" required name="email" value="" />
            <br /><br />
            <b>Тема отзыва:</b><br />
            <input type="text" required name="subject" value="" />
            <br /><br />
            <b>Ваша оценка:</b><br /><br />
            <select name="stars" required>
                <option selected value="5">5</option>
                <option  value="4">4</option>
                <option  value="3">3</option>
                <option  value="2">2</option>
                <option  value="1">1</option>
            </select>
            <br /><br />
            <b>Сообщение:</b><br />
            <textarea name="message" required cols="40" rows="10" style="width: 99%;"></textarea>
            <br />

            <br />

            <button type="submit" >Отправить</button>

        </form>


    </div>
{% endblock %}