{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div id="content">  <div class="breadcrumb">
        <a href="/">Главная</a>
         » <a href="#">Условия и оплата</a>
      </div>
  <h1>Схема покупки дипломного проекта</h1>
  <p>
	<span style="color: rgb(51, 51, 51);"><strong><span style="font-size: 16px;">СХЕМА ПОКУПКИ:</span></strong></span><br>
	<br>
	1. Выбираете понравившийся вариант.<br>
	2. Получаете полную консультацию по выбранным проектам у нашего специалиста.<br>
	3. Скачиваете бесплатную демо-версию проекта в формате PDF (фасад, план, разрез и содержание записки), для окончательного утверждения его в своем ВУЗе.<br>
	4. Оплачиваете дипломный проект, и получаете его по электронной почте.</p>
<p>
	При необходимости, Вы всегда можете связаться с нашим специалистом и задать интересующие вопросы, а также скачать бесплатно демо-материал по дипломному проекту в .pdf<br>
	Вопросы направлять на <strong><a href="mailto:st-diplom@mail.ru?subject=st-diplom%40mail.ru">st-diplom@mail.ru</a></strong><br>
	&nbsp;</p>
<p>
	<span style="color: rgb(51, 51, 51); font-size: 14pt;">ВАРИАНТЫ </span><span style="color: rgb(0, 100, 0);"><span style="font-size: 14pt;">ОПЛАТЫ</span></span></p>
<p>
	<span style="color: rgb(51, 51, 51);"><strong>1. Переводом на карту Сбербанка России</strong></span><br>
	Номер карты —&nbsp;<strong style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 15px;">5469 4200 1999 3339</strong></p>
<p>
	<img alt="" src="{% static 'image/data/sberbank.jpg' %}" style="width: 100px; height: 100px; float: left;"></p>
<p>
	Оплатить наши услуги возможно путем перевода денег на нашу карту СберБанка России:</p>
<div>
	— в любом отделении Сбербанка России при помощи оператора (при переводе необходимо предоставить паспорт оператору);</div>
<div>
	— с помощью банкомата Сбербанка России;</div>
<div>
	— с помощью системы «Сбербанк ОнЛ@йн»</div>
<p>
	<span style="color: rgb(51, 51, 51);"><strong>Примечание:</strong> После оплаты сохраните чек </span>и отправьте нам письмо<span style="color: rgb(51, 51, 51);"> на<strong> <a href="mailto:st-diplom@mail.ru?subject=st-diplom%40mail.ru">st-diplom@mail.ru</a></strong></span><strong>, </strong>в котором укажите способ оплаты- "перевод на карту сбербанка" и сумму которую вы перевели.</p>
<hr>
<div class="oplata">
	<div class="oplata">
		<p>
			<span style="color: rgb(51, 51, 51);"><strong>2. Оплата в салонах связи "ЕВРОСЕТЬ" и "СВЯЗНОЙ"</strong></span></p>
		<p>
			<img alt="" src="{% static 'image/data/evroset0.jpg' %}" style="width: 128px; height: 66px;">&nbsp; &nbsp; &nbsp;</p>
		<div>
			Оплатить заказ Вы можете в салонах связи "ЕВРОСЕТЬ" и "СВЯЗНОЙ". Оплата осуществляется пополнением нашего счета:</div>
		<div>
			Яндекс.Деньги <span style="color: rgb(51, 51, 51);"><strong>410011628674612</strong></span> - назовите этот номер кассиру и он произведет оплату. Либо самостоятельно переведите через терминал. Оплата проходит мгновенно.</div>
		<div>
			<span style="color: rgb(51, 51, 51);"><strong>Примечание:</strong> После оплаты сохраните чек </span>и отправьте нам письмо<span style="color: rgb(51, 51, 51);"> на<strong> <a href="mailto:st-diplom@mail.ru?subject=st-diplom%40mail.ru">st-diplom@mail.ru</a></strong></span><strong>, </strong>в котором укажите способ оплаты- "<span style="color: rgb(51, 51, 51);">Оплата в салонах связи</span>" и сумму которую вы перевели.</div>
		<div>
			<hr>
			<p>
				<span style="color: rgb(51, 51, 51);"><strong>3.Через платёжный терминал</strong></span></p>
		</div>
	</div>
</div>
<div class="oplata">
	<div>
		<img alt="" src="{% static 'image/data/terminal.gif' %}" style="width: 286px; height: 200px;"></div>
	<div>
		Вы можете осуществить оплату через любой терминала экспресс-оплаты.</div>
	<div>
		Для оплаты необходимо выбрать на экране терминала:</div>
	<div>
		Интернет &gt; Платежные системы &gt; Яндекс.Деньги и указать номер кошелька:&nbsp;<span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);"><strong>410011628674612</strong></span></span></div>
	<div>
		После этого надо вставить в терминал необходимое количество денег и нажать кнопку «Далее» для получения чека (не забудьте забрать и сохраните чек)</div>
	<div>
		<strong>Внимание!</strong> многие терминалы удерживают комиссию, поэтому сразу пополняйте на большую сумму, чем сумма заказа. После оплаты вы сможете получить сдачу на номер вашего мобильного телефона.</div>
	<div>
		<div>
			<span style="color: rgb(51, 51, 51);"><strong>Примечание:</strong> После оплаты сохраните чек </span>и отправьте нам письмо<span style="color: rgb(51, 51, 51);"> на<strong> <a href="mailto:st-diplom@mail.ru?subject=st-diplom%40mail.ru">st-diplom@mail.ru</a></strong></span><strong>, </strong>в котором укажите способ оплаты- "<span style="color: rgb(51, 51, 51);">Оплата через платёжный терминал</span>" и сумму которую вы перевели.</div>
	</div>
	<div>
		<hr>
		<p>
			<span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);"><strong>4. По системе электронных платежей WebMoney</strong></span></span></p>
	</div>
</div>
<div class="oplata">
	<strong><img alt="" src="{% static 'image/data/webmoney.png' %}" style="width: 200px; height: 70px;"></strong></div>
<div class="oplata">
	Российские рубли:&nbsp;<span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);"><strong>R280263184421</strong></span></span><br>
	Доллары США: <span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);"><strong>Z988744420584</strong></span></span><br>
	ЕВРО: <span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);"><strong>E333375668692</strong></span></span></div>
<div class="oplata">
	<div>
		<div>
			<span style="color: rgb(51, 51, 51);"><strong>Примечание:</strong> После оплаты</span> отправьте нам письмо<span style="color: rgb(51, 51, 51);"> на<strong> <a href="mailto:st-diplom@mail.ru?subject=st-diplom%40mail.ru">st-diplom@mail.ru</a></strong></span><strong>, </strong>в котором укажите способ оплаты- "<span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);">По системе электронных платежей WebMoney</span></span>" и сумму которую вы перевели.</div>
	</div>
</div>
<div class="oplata">
	<hr>
	<p>
		<span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);"><strong>5. По системе электронных платежей ЯндексДеньги&nbsp;</strong></span></span></p>
</div>
<div>
	<img alt="" src="{% static 'image/data/yandex_money.png' %}" style="width: 200px; height: 70px;"></div>
<div>
	Номер счета<span style="color: rgb(51, 51, 51);"> —&nbsp;<span style="font-size: 14px;"><strong>410011628674612</strong></span></span><strong><strong> </strong></strong><br>
	<div class="oplata">
		<div>
			<div>
				<span style="color: rgb(51, 51, 51);"><strong>Примечание:</strong> После оплаты</span> отправьте нам письмо<span style="color: rgb(51, 51, 51);"> на<strong> <a href="mailto:st-diplom@mail.ru?subject=st-diplom%40mail.ru">st-diplom@mail.ru</a></strong></span><strong>, </strong>в котором укажите способ оплаты- "<span style="font-size: 14px;"><span style="color: rgb(51, 51, 51);">По системе электронных платежей ЯндексДеньги</span></span>" и сумму которую вы перевели.</div>
		</div>
	</div>
	<div class="oplata">
		<div style="height: 10px; clear: both;">
			<strong><strong>&nbsp;</strong></strong></div>
	</div>
	<div class="oplata">
		<hr>
		<p>
			<strong><strong>&nbsp;</strong></strong></p>
	</div>
	<div class="oplata">
		<p>
			<strong><strong>&nbsp;</strong></strong></p>
	</div>
	<p>
		<strong><strong>&nbsp;</strong></strong></p>
</div>
<p>
	&nbsp;</p>
  <!--<div class="buttons">
    <div class="right"><a href="" class="button"></a></div>
  </div>-->
  </div>
{% endblock %}
